<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>
<%if can? :create, Post%>
<%= link_to 'New Post',new_post_path(channel_id: @channel)%>
<%end%>
  <div class="list">

<% @channel.posts.each do |post| %>

    <div class="channelname">
      <h2 class="title">Title|<%= link_to post.title, post_path(post) %></h2>
      <h3>User|
        <% if User.exists?(id: post.user_id)%>
            <%= link_to User.find(post.user_id).email, user_path(post.user_id)%>
        <%else%>
           [deleted]
        <%end%>
      </h3>
      <p class="description"><%= post.content %></p>
      <% if can? :manage, post%>
        <p><%= link_to 'Edit', edit_post_path(post) %></p>
        <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <%end%>
    </div>
<% end %>
</div>
<%if can? :update, Channel%>
<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%end%>
<%= link_to 'Back', root_path %>