
<div class="container">

  <p id="notice"><%= notice %></p>
<h1>
  <%= @channel.name %>
</h1>

<p>
  <%= @channel.description %>
</p>
<%if can? :create, Post%>
    <li class="waves-effect waves-pink btn">
<%= link_to 'New Post',new_post_path(channel_id: @channel)%></li>
<%end%>


  <li class="waves-effect waves-pink btn">
    <%= link_to 'Back', :back %>
  </li>

  <div class="list">

<% @channel.posts.each do |post| %>




        <div class ="cardContraints">
          <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="http://www.uh.edu/marketing/brand/graphic-standards/_img/logo-athletics-uh-red.png">



                  <span class="card-title"> <li class="waves-effect waves-pink btn blue">Title|<%= link_to post.title, post_path(post) %></li></span>


                  <a class="btn-floating halfway-fab waves-effect waves-pink red" ><i class="material-icons">add</i></a>

                </div>
                <div class="card-content">
                  <p class="description"><%= post.content %></p>
                </div>

              </div>




            </div>
          </div>
        </div>


        <% if User.exists?(id: post.user_id)%>
            <li class="waves-effect waves-pink btn orange"><%= link_to User.find(post.user_id).email, user_path(post.user_id)%></li>
        <%else%>
            <li class="waves-effect waves-pink btn orange">[ user deleted]</li>
        <%end%>


        <% if can? :manage, post%>
            <li class="waves-effect waves-pink btn orange">
              <%= link_to 'Delete Post', post,method: :delete, data: {confirm: 'Are you sure?'}%></li>
            <li class="waves-effect waves-pink btn orange">
              <%= link_to 'Edit Post', edit_post_path(post) %></li>
        <%end%>
  <% end %>
</div>


</div>