
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>
<li class="waves-effect waves-pink btn orange">
  <%= link_to 'Edit', edit_comment_path(@comment) %></li>

<li class="waves-effect waves-pink btn orange">
  <%= link_to 'Back', post_path(@comment.post_id) %></li>
</div>