<%-# channels = "http://localhost:3000/channels/" + @channel_id + "/App.config"%>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "WERL'd Home", root_url,class: "navbar-brand" %>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--navbar-->
    <ul class="nav navbar-nav">

      <%if controller_name == 'channels' && controller.action_name == 'show'%>
          <li class="active">
            <%= link_to 'New Post',new_post_path(channel_id: @channel)%>
          </li>


      <%elsif can? :manage, Channel && controller_name == 'channels' || current_page?(root_path)%>
          <li class="active">
            <%= link_to "New Channel!",new_channel_path%>
          </li>
      <%else%>
          <p></p>
      <%end%>

    </ul>
<!--import-->
    <%if can? :manage, User%>
        
    <%= form_tag users_import_path, multipart:true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CVS" %>
        <% end %>

    <% end %>

<!--Graphs-->
    <ul>
      <%= button_to "Graphs", 'http://localhost:3000/pages/graph?' ,:method => :get%>
    </ul>
<!--search-->
    <%if  controller_name == 'channels' && controller.action_name =='show'%>
        <%= form_tag search_posts_path do%>
            <input Class="search full-width" id="searchbar" name="query" placeholder="Search Post" type="text" autocomplete="off">
        <%end%>

    <%elsif  controller_name == 'channels'|| current_page?(root_path)%>
        <%= form_tag search_channels_path do %>
            <input Class="search full-width" id="searchbar" name="query" placeholder="Search Channel" type="text" autocomplete="off">
        <%end%>

    <%elsif controller_name == 'posts' && controller.action_name == 'show'%>
        <%= form_tag search_posts_path do%>
          <input Class="search full-width" id="searchbar" name="query" placeholder="Search comments" type="text" autocomplete="off">
        <%end%>

    <%end%>

<!--sign in/out-->
    <ul class="navbar-nav navbar-right">

      <% if user_signed_in? %>
          <li>
            <%= link_to current_user.email, user_path(current_user.id)%>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path%>
          </li>
      <%else %>
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Login", new_user_session_path %>
          </li>
      <%end %>

    </ul>

  </div>
</nav>