<div class="container">
<strong>
<%= @user.email %></strong>
  <li class="waves-effect waves-pink btn">
    <%= link_to "Change Password", edit_user_registration_path(@user) %></li>
<div id="Charts">
  <% if can? :manage, User%>
      <li class="waves-effect waves-pink btn">
        <%= button_to "Admin", rails_admin_path ,:method => :get%>
      </li>
  <%end%>
</div>

<div id="topics">

  <h2>Posts</h2>

  <% @user.posts.each do |p| %>

      <div class="col s12 m7">

        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/7">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><%= p.content%></p>
            </div>
            <div class="card-action">
              <a href="#"><%= link_to p.title, p %></a>
            </div>
          </div>
        </div>
      </div>





  <% end %>

  <h2>Comments</h2>
  <% @user.comments.each do |c| %>


      <div class="col s12 m7">

        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/5">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><%= c.content %></p>
            </div>
            <div class="card-action">
              <a href="#"><%= link_to Post.find(c.post_id).title , post_path(c.post_id)%></a>
            </div>
          </div>
        </div>
      </div>




  <% end %>

</div>
</div>