<html>
<%= favicon_link_tag asset_path('uh_Icon.png'), :rel => 'icon', :type =>  'image/png' %>

<head>
  <title>WERIntranet</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<div class="list">

  <% Channel.all.each do |x| %>
      <div class="channelname">
        <h2 class="title"><%= link_to x.name, channel_path(x.id)%></h2>
        <p class="description"><%= x.description%></p>
      </div>
  <%end%>

</div>
</html>
