<p id="notice"><%= notice %></p>
<div class="container">
<h1>Channels</h1>


<div class="list">
  <!--railsadmin-->
  <% if can? :manage, User%>
      <li class="waves-effect waves-light btn">
        <%= button_to "Admin", rails_admin_path ,:method => :get%>
      </li>
  <%end%>
  <% Channel.all.each do |x| %>
      <div class="channelname">
        <h2 class="title"><%= link_to x.name, channel_path(x.id)%></h2>
        <p class="description"><%= x.description%></p>
      </div>
  <%end%>

</div>

<br>
<%if can? :create, Channel%>
<%= link_to 'New Channel', new_channel_path %>
  <%end%>
</div>
