<div class="container">
<p id="notice"><%= notice %></p>



<h2>
  <%= @post.title %>
</h2>
  <p>
  <% if User.exists?(id: @post.user_id)%>

        <%= User.find(@post.user_id).email%>
  <%else%>
    [deleted]
  <%end%>
  </p>

  <p class="post-content">
  <strong>Content:</strong>
  <%= @post.content %>
</p>

  <%if can? :update, Comment%>
      <li class="waves-effect waves-pink btn">
        <%= link_to 'Edit Post', edit_post_path(@post) %></li>
  <%end%>
  <li class="waves-effect waves-pink btn">
    <%= link_to 'Back', channel_path(@post.channel_id) %></li>
  <%if can? :create, Comment%>
      <li class="waves-effect waves-pink btn">
        <%= link_to 'Reply', new_comment_path(post_id: @post)%></li>
  <%end%>




  <% @post.comment.each do |comment| %>



      <div class ="cardContraints">
        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="http://www.uh.edu/marketing/brand/graphic-standards/_img/logo-athletics-uh-red.png">


                <span class="card-title"> <% if User.exists?(id: comment.user_id)%>
            <li class="waves-effect waves-pink btn blue">
              <%= link_to User.find(comment.user_id).email,user_path(comment.user_id) %></li>
          <%else%>
            [deleted]
          <%end%>
                  </span>
                <a class="btn-floating halfway-fab waves-effect waves-pink red" ><i class="material-icons">add</i></a>

              </div>
              <div class="card-content">
                <p class="description"><%= comment.content %></p>
              </div>

            </div>


          </div>

        </div>
        <% if can? :manage, comment%>
            <li class="waves-effect waves-pink btn orange">
              <%= link_to 'Edit Reply', edit_comment_path(comment) %></li>
            <li class="waves-effect waves-pink btn orange">
              <%= link_to 'Destroy Reply', comment, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <%if can? :create, Comment%>
                <li class="waves-effect waves-pink btn orange">
                  <%= link_to 'Reply', new_comment_path(post_id: @post)%></li>
            <%end%>
        <%end%>
      </div>





  <% end %>





<!--Add Board Manager-->

</div>