<p id="notice"><%= notice %></p>
<div class="post-title">
<h2>
  <%= @post.name %>
</h2>
  <p>
  <% if User.exists?(id: @post.user_id)%>
      <%= User.find(@post.user_id).email%>
  <%else%>
    [deleted]
  <%end%>
        </p>
<p class="post-content">
  <strong>Content:</strong>
  <%= @post.content %>
</p>
</div>

<div class="comment-body" >
  <%= link_to 'Reply', new_comment_path(post_id: @post)%>
  <% @post.comment.each do |comment| %>
      <div class="comment">
        <p>
          <% if User.exists?(id: comment.user_id)%>
            <%= link_to User.find(comment.user_id).email,user_path(comment.user_id) %>
          <%else%>
            [deleted]
          <%end%>
        </p>
        <p><%= comment.content %></p>
        <% if can? :manage, Comment%>
            <%= link_to 'Edit', edit_comment_path(comment) %>
            <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      </div>
  <% end %>
  <%= link_to 'Reply', new_comment_path(post_id: @post)%>
</div>
<!--Add Board Manager-->
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', channel_path(@post.channel_id) %>
