<!DOCTYPE html>
<html>



  <head>
    <!--<title>WERL'd Intranet Forum</title>-->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>




    <nav>
      <div class="nav-wrapper">
        <%= link_to "WERL'd Home", root_url,class: "navbar-brand" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">








          <!--sign in/out-->

          <% if user_signed_in? %>
              <li>
                <%= link_to current_user.email, user_path(current_user.id)%>
              </li>
              <li>
                <%= link_to "Logout", destroy_user_session_path%>
              </li>
          <%else %>

              <li>
                <%= link_to "Login", new_user_session_path %>
              </li>
          <%end %>

        </ul>
      </div>
    </nav>
  <body>
    <main>

      <div class="container">
        <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>

        <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
      </div>

      <%= yield %>


    </main>


  </body>
</html>